beautifulsoup4
requests
tqdm
pandas
numpy
python-dotenv
google-cloud-storage
google-auth
google-auth-oauthlib
google-auth-httplib2
tenacity
pydantic
pydantic-settings
langchain
langchain-text-splitters
tiktoken
chromadb
openai
